{% extends 'base.html' %}
<!-- Navbar block -->
{% block navbar %}
<div class ="navbar transparent navbar-inverse navbar-expand-md fixed-top" role="navigation"style="background-color : #2C0703"  >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Janga Informer</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/">Covid tracker</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/international">International News</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/">Local news updates</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
               
            </ul>

        </div>

    </div>
</div>






{% endblock %}